@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:300,400,700|Montserrat:300,400,700&display=swap');
/* ---------------------------------------------------Colours */
/* ---------------------------------------------------Special paddings/margins/text */
h1,h2,h3,h4 {
    margin: 0;
}
.uppercase {
    text-transform: uppercase;
}
.heading {
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 700;
    letter-spacing: 0.3rem;
}
/* ---------------------------------------------------Header */
 header {
    margin: 0;
}

.achtergrond-container {
    height: 100vh;

background: url("/assets/img/bg_lint.jpg") no-repeat top left fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
    background-color: transparent;
}

.jumbotron-header {
    color: #FEFBF1;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 0.3rem;
}
.jumbotron-18jaar {
    color: #FEFBF1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.6em;
}

/* ---------------------------------------------------Navbar */

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    font-family: 'Big Shoulders Text', cursive;
    z-index: 1;
}


.navbar .navbar-toggler {
    border: 0;
}

.navbar-brand {
    font-weight: bold;
    z-index: 1;
}

.navbar-dark .navbar-brand {
    color: #FEFBF1
}

.navbar .navbar-nav a {
    font-weight: bold;
}

/* ---------------------------------------------------Openingstijden en Route*/
.lijst-openingstijden {""}
.adres{}

.openingstijden {
    font-family: 'Montserrat', sans-serif;
    color: #FEFBF1;
    background-color: rgba(0,0,0,0.25);
    padding-top: 75px;
}
.openingstijden p,h4 {
    text-align: center;

}
.openingstijden p span {
    display: block;
}

.route {
    font-family: 'Montserrat', sans-serif;
    color: #FEFBF1;
    background-color: rgba(0,0,0,0.25);
    padding-top: 75px;
}

. route i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}
.route p span {
    display: block;
    text-align: center;
}
/* ---------------------------------------------------Huisregels */
.huisregels-text {
    font-family: 'Montserrat', sans-serif;
    color: #FEFBF1;
    background-color: rgba(0,0,0,0.25);
    margin-top: 75px;
    padding-top: 75px;
    text-align: center;
    font-size: 2rem;
}

.huisregels-text ul {
    list-style: none;
}

/* ---------------------------------------------------Afbeeldingen */


/* ---------------------------------------------------block-deviders */
.block-devider {
        width: 75px;
        height: 5px;
        color: white;
        background-color: #298BAA;
}

.block-devider-aubergine {
        width: 75px;
        height: 5px;
        color: white;
        background-color: #573E51;
}
/* ---------------------------------------------------Knoppen */
.btn--blauw {
    color: #FEFBF1;
    background-color: #298BAA;
    border-color: #298BAA;
}
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--blauw:hover,
.btn--blauw:active,
.btn--blauw:focus,
.btn--blauw:active:focus {
    background-color: #12627b;
    border-color: #12627b;
}

.btn:hover {
    color: #FEFBF1;}
/* ---------------------------------------------------Footer */

.footer-links {
    text-align: right;
}

#footer-details {
    background-color: transparent;
    color: #FEFBF1;
    font-family: 'Montserrat', sans-serif;
}
#footer-details details{
    font-weight: 300;
    font-size: 0.6em;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #573E51;
    transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background: #F2CB9B;
}

.links-groep {
    text-align: right;
}