@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:300,400,700|Montserrat:300,400,700&display=swap');

/* ---------------------------------------------------Main styling */
.uppercase {
    text-transform: uppercase;
}
.heading {
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 700;
    letter-spacing: 0.3rem;
}
/* Code snippet below = from https://css-tricks.com/perfect-full-page-background-image/ */
.achtergrond-container {
    height: 100vh;
    background: url("../img/bg_lint.jpg") no-repeat top left fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.jumbotron {
    background-color: transparent;
}
@media (min-width: 992px) {
    .jumbotron {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 20px;
    }
}
.jumbotron-header {
    color: #FEFBF1;
    font-weight: bold;
    margin-bottom: 30px;
    font-family: 'Big Shoulders Text', cursive;
    letter-spacing: 0.3rem;
    background-color: rgba(0,0,0,0.25);
}
.jumbotron-18jaar {
    color: #FEFBF1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.6em;
    background-color: rgba(0,0,0,0.25);
}
/* ---------------------------------------------------Navbar */
.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    font-family: 'Big Shoulders Text', cursive;
    z-index: 1;
}
.navbar .navbar-toggler {
    border: 0;
}
.navbar-brand {
    font-weight: bold;
    z-index: 1;
}
.navbar .navbar-nav a {
    font-weight: bold;
}
/* ---------------------------------------------------Openingstijden en Route*/
.openingstijden {
    font-family: 'Montserrat', sans-serif;
    color: #FEFBF1;
    background-color: rgba(0,0,0,0.25);
}
@media (min-width: 992px) {
    .openingstijden {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.openingstijden p,h4 {
    text-align: center;

}
.openingstijden p span {
    display: block;
}

.route {
    font-family: 'Montserrat', sans-serif;
    color: #FEFBF1;
    background-color: rgba(0,0,0,0.25);
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (min-width: 375px) {
    .route {
        padding-top: 110px;
    }
}
@media (min-width: 768px) {
    .route {
        padding-top: 0;
    }
}
@media (min-width: 992px) {
    .route {
        padding-top: 0px;
    }
}
. route i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}
.route p span {
    display: block;
    text-align: center;
}
/* ---------------------------------------------------Huisregels */
.huisregels-text {
    font-family: 'Montserrat', sans-serif;
    color: #FEFBF1;
    background-color: rgba(0,0,0,0.50);
    margin-top: 50px;
    margin-bottom: 75px;
    padding-top: 3px;
    padding-bottom: 75px;
    text-align: center;
    font-size: 0.7rem;
}

@media (min-width: 375px) {
    .huisregels-text {
        margin-top: 90px;
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    .huisregels-text {
        margin-top: 250px;
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .huisregels-text {
        margin-top: 150px;
        font-size: 1.3rem;
    }
}
.huisregels-text ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* ---------------------------------------------------Afbeeldingen */
@media (min-width: 992px) {
    .afbeeldingen {
        max-height: 250px;
    }
}
/* ---------------------------------------------------block-deviders */
.block-devider {
        width: 75px;
        height: 5px;
        color: white;
        background-color: #298BAA;
}
.block-devider-aubergine {
        width: 75px;
        height: 5px;
        color: white;
        background-color: #573E51;
}
/* ---------------------------------------------------buttons */
.btn--blauw {
    color: #FEFBF1;
    background-color: #298BAA;
    border-color: #298BAA;
}
.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--blauw:hover,
.btn--blauw:active,
.btn--blauw:focus,
.btn--blauw:active:focus {
    background-color: #12627b;
    border-color: #12627b;
}

.btn:hover {
    color: #FEFBF1;}
/* ---------------------------------------------------Footer */
footer {
    background-color: #573E51
}
.fixed-bottom {
    position: fixed;
}

.footer-links {
    text-align: right;
}

#footer-details {
    background-color: transparent;
    color: #FEFBF1;
    font-family: 'Montserrat', sans-serif;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #573E51;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}
.social-links li a i:hover {
    background: #F2CB9B;
}

.links-groep {
    text-align: right;
}

/* ----------------------------------------Vacatures------------------- */
.achtergrond-container-vacatures {
    height: auto;
    background-color: #573E51;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    color: #FEFBF1;}

.card {
     background-color: transparent;
}

@media (min-width: 375px) {
    .vacatures-text {
        margin-top: 90px;
        font-size: 0.8rem;
    }
}

@media (min-width: 768px) {
    .vacatures-text {
        margin-top: 0;
        font-size: 1rem;
    }
}

@media (min-width: 992px) {
    .vacatures-text {
        margin-top: 0;
        font-size: 1rem;
    }
}
.heading-vacatures {
    font-family: 'Big Shoulders Text', cursive;
    font-weight: 400;
    text-align: center;
    padding-top: 10px;
}

@media (min-width: 992px) {
    .balie-afbeelding {
        max-inline-size: 40%;
    }
}
/* -----------Styling form container in vacatures page */
.container-formulier {
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 992px){
    .container-formulier {
        max-width: 80%;
    }
}
@media (min-width: 768px){
    .container-formulier {
        max-width: 60%;
    }
}
@media (min-width: 576px){
    .container-formulier {
        max-width: 60%;
}
}
